@import"settings";
@import"foundation";

// STTNG Colors
$STTNG-1: #9999cc;
$STTNG-2: #9999ff;
$STTNG-3: #cc99cc;
$STTNG-4: #cc6699;
$STTNG-5: #cc6666;
$STTNG-6: #ff9966;
$STTNG-7: #ff9900;
$STTNG-8: #ffcc66;

 #memories, #posneg {
    display: none;
}

