*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// HP Font and Colors
// helpful http://www.hpcalc.org/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Offside);
// http://www.dafont.com/lcd-phone.font?fpp=20&text=1234567890
$teal:#8ff8df;
$purple:#9999ff;
$lcdbg:#7dcb80;
$lcd:#0c4e5d;
$bunit:2rem;

@mixin buttonize {
    width: $bunit*1.5;
    height: $bunit;
    text-align: center;
    margin-right: $bunit;
    margin-top: $bunit;
    padding-top: 0.3rem;
    cursor: pointer;
    color: white;
    background-color: black;
    @include roundB;
    box-shadow: 0 -0.2rem 0 -0.1rem #797979,
                0   -0.25rem 0 0.1rem black;
}

@mixin roundB {
    border-bottom-left-radius: $bunit/4;
    border-top-left-radius: $bunit/4;
    border-bottom-right-radius: $bunit/4;
    border-top-right-radius: $bunit/4;
}   

body {
    background-color: #0f3448;
    font-family: "Droid Sans", sans-serif;
}

.container {
    background-color: #4883a2;
    display: block;
    padding: 1rem;
    width: 5 * 2.5 * $bunit;
    margin: auto;
}

#displaypad {
    background-color: $lcdbg;
    display: block;
    width: 90%;
    margin:auto;
    ul:first-child {
        padding-top: 1rem;
    }
    ul:last-child {
        padding-bottom: 1rem;
    }
    border: 1px;
    border-color: black;
    @include roundB;
    box-shadow: 0 -0.5rem 0 -0.1rem #555555;
}

.display {
    color: $lcd;
    font-size: 1.2rem;
    font-family: "Offside", sans-serif;
}

.number {
    @include buttonize;
}

.fn {
    @include buttonize;
  //  @include roundB;
}

.operator {
    @include buttonize;
    font-size:1.3rem;
    list-style: none;
}

.fn, .number {
    list-style: none;
    display: inline-block;
}

.buttongroup {
    display:block;
    padding:0;
    &:not(#operatorpad){
        float:left;
        clear:left;
    }
}

#operatorpad {
    float: right;
    clear: both;
}
