@import "style";

// HP Font and Colors
// helpful http://www.hpcalc.org/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Offside);
// http://www.dafont.com/lcd-phone.font?fpp=20&text=1234567890
$teal: #8ff8df;
$purple: #9999ff;
$lcdbg: #7dcb80;
$lcd: #0c4e5d;
$bunit: 2rem;
$bwd: 1.5*$bunit;
$bht: $bunit;
$bsp: 2rem;

@mixin buttonize {
    width: $bwd;
    height: $bht;
    text-align: center;
    margin-top: $bunit;
    padding-top: 0.3rem;
    cursor: pointer;
    color: white;
    background-color: black;
    @include roundB;
    box-shadow: 0 -0.2rem 0 -0.1rem #797979,
                0   -0.25rem 0 0.1rem black;
}

@mixin roundB {
    border-bottom-left-radius: $bunit/4;
    border-top-left-radius: $bunit/4;
    border-bottom-right-radius: $bunit/4;
    border-top-right-radius: $bunit/4;
}   

body {
    background-color: grey;
    
}

.container {
    font-family: "Droid Sans", sans-serif;
    background-color: #0f3448;
    display: block;
    padding: 1rem;
    width: 5 * 2.5 * $bunit;
    margin: auto;
    &:after { 
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }
}

#keyboard {
    width: 4 * $bwd + 3* $bsp;
    margin: auto;
    &:after { 
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }
}

#displaypad {
    background-color: $lcdbg;
    display: block;
    width: 90%;
    margin:auto;
    ul:first-child {
        padding-top: 1rem;
    }
    ul:last-child {
        padding-bottom: 1rem;
    }
    border: 1px;
    border-color: black;
    @include roundB;
    box-shadow: 0 -0.5rem 0 -0.1rem #555555;
}

.display {
    color: $lcd;
    font-size: 1.2rem;
    font-family: "Offside", sans-serif;
    text-align: right;
    padding-right: 2rem;
}

.operator {
    @include buttonize;
    font-size: 1.3rem;
    list-style: none;
    margin-left: $bsp;
}

.fn, .number {
    @include buttonize;
    list-style: none;
    display: inline-block;
}

ul.buttongroup {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0; 
    -webkit-padding-start: 0;
}

#fnpad, .nums {
    li:not(:last-child) {
        margin-right: $bsp;
    } 
}

.kbgrp {
    display:block;
    float: left;
}
#enter {
    width: 2*$bwd+$bsp;
}

li[data-val="0"] {
    width: 2*$bwd+$bsp;
}