*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.csspick {
    display: inline-block;
    width: 6rem;
    height: 2rem;
    padding-top: 0.3rem;
    text-align: center;
    cursor: pointer;
    background-color: #bebebe;
    border: 1px solid black;
    margin-bottom: 1rem;
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.csschooser {
    
}

// typewriter Font and Colors
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
$teal: #65b7a4;
$ivory: #fffff0;
$bunit: 2.0rem;
$containerbg: $teal;

@mixin buttonize {
    width: $bunit;
    height: $bunit;
    text-align: center;
    margin-top: $bunit/2;
    padding-top: 0.7rem;
    cursor: pointer;
    color: black;
    background-color: $ivory;
    @include roundB;
    box-shadow: 0   0   0   0.12rem #797979,
                0   0   0   0.2rem  $ivory;
}

@mixin roundB {
    border-bottom-left-radius: $bunit/2;
    border-top-left-radius: $bunit/2;
    border-bottom-right-radius: $bunit/2;
    border-top-right-radius: $bunit/2;
}   

body {
    background-color: grey;
}

.container {
    font-family: "Special Elite", monospace;
    background-color: $containerbg;
    display: block;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 13 * $bunit;
    margin: auto;
    &:after { 
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }
}

#keyboard {
    width: 5*$bunit + 4*$bunit;
    margin: auto;
    &:after { 
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }
}

#displaypad {
    color: black;
    background-color: white;
    width: 90%;
    margin: auto;
    ul:first-child {
        padding-top: 1rem;
    }
    ul:last-child {
        padding-bottom: 1rem;
    }
    box-shadow: 2rem   0   0   -1rem    #000000,
                -2rem   0   0   -1rem    #000000;
}

.display {
    color: black;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 2rem;
}

.number {
    @include buttonize;
    display: inline-block;
}

.fn {
    @include buttonize;
}

.operator {
    @include buttonize;
    font-size: 1.3rem;
    list-style: none;
}

.fn, .number {
    list-style: none;
}

ul.buttongroup {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0; 
    -webkit-padding-start: 0;
}

#fnpad, .nums, #operators{
    li {
        margin-right: $bunit;
    } 
}

.nums {
    li:last-child {
        margin-right: 0;
    }
}

.kbgrp {
    display:block;
    float: left;
}
